*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.aboutHero{
    background: url(images/boxing-gym-ring.jpg) no-repeat center center;
    background-size: cover;
    object-fit: cover;
    height: 95vh;
}
.aboutHeroOverlay{
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, .8);
}
.aboutInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.aboutTitle{
    font-size: 44px;
    color: #dddddd;
    text-decoration: underline #aaaaaa;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.aboutDescription{
    margin-top: 20px;
    font-size: 24px;
    text-align: center;

    color: #aaaaaa;
    font-family: 'Lato', sans-serif;
}
.contactUsBtn{
    margin-top: 50px;
    text-decoration: none;
    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(173, 10, 10);
    padding: 10px;
    border: 1px solid #aaaaaa;
    font-size: 22px;
    border-radius: 10px;
    text-align: center;
}
.contactUsBtn:hover{
    background-color:  rgb(99, 13, 13);
}



.gymInfoSection{
    background-color: #0E0F15;
    font-family: 'Oswaldo', sans-serif;
    display: flex;
    text-align: center;
    color: #dddddd;
    font-size: 18px;
    padding: 30px 0;
}
.locationInfo, .hoursInfo > *, .numberInfo{
    font-weight: 500;
}
.locationInfo, .hoursInfo, .numberInfo{
    flex: 1;
    margin: auto;
    padding: 20px 0;
}
.hoursInfo{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px 20px;
    padding: 20px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.hoursInfoDate, .dayHours{
    width: 150px;
}
.hoursInfoDate{
    text-align: left;
    color: #eeeeee;
}
.dayHours{
    text-align: right;
    color: #aaaaaa;
}

@media screen and (min-width: 780px){
    .hoursInfoDate, .dayHours{
        margin: auto;
    }
    .hoursInfo{
        border: none;
        border-right: 2px solid #fff;
        border-left: 2px solid #fff;
        margin: auto;
    }
    .locationInfo, .hoursInfo, .numberInfo{
        padding: 0 10px;
    }
}
@media screen and (max-width: 780px){
    .gymInfoSection{
        flex-direction: column;
        min-height: 25vh;
    }
}
.aboutUsSection{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 75px;
    min-width: 100%;
    background-color: #e5e5e5;
    min-height: 30vh;
}
.aboutUsTitle{
    font-size: 42px;
    text-decoration: underline;
    margin-bottom: 25px;
    color: #1D1B1B;
}
.aboutUsDescription{
    font-size: 18px;
    margin: 10px 0 0 0;
    font-size: 600;
    color: #494949;
    margin: auto;
}
@media screen and (min-width: 1000px){
    .aboutUsDescription{
        width: 50%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1000px){
    .aboutUsDescription{
        width: 70%;
    }
}
@media screen and (min-width: 500px) and (max-width: 800px){
    .aboutUsDescription{
        width: 80%;
    }
}
@media screen and (max-width: 500px){
    .aboutUsSection{
        display: block;
        padding: 75px 0;
    }
    .aboutUsDescription{
        width: 90%;
    }
}

body{
    padding-bottom: 500px;
}