*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}
header{
    background-color: #161616;
    width: 100%;
    height: 7.5vh;
    display: flex;
    padding: 0 25px;
    position: fixed;
    z-index: 9999;
}
.logo, .navbar{
    line-height: 7.5vh;
}
.logo{
    flex: 1;
    color: #dddddd;
    vertical-align: middle;
    font-family: 'Galada', cursive;
    font-size: 36px;
    font-weight: 500;
}
.logoLink{
    color: #dddddd;
    text-decoration: none;
}
.navbar{
    display: flex;
    text-align: center;
    flex: 1;
    z-index: 10;
}
.nav-list{
    flex: 1;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    list-style: none;
}
.nav-link{
    color: #ffffff;
    text-decoration: none;
    display: block;
}
.currentLink{
    background-color: rgba(0, 0, 0, .3);
}
.nav-link:hover{
    text-decoration: underline;
}
.hamburgerMenu{
    display: none;
    text-align: right;
    margin: 0;
    font-size: 32px;
    flex: 2;
    color: rgb(133, 125, 125);
}
#btn{
    display: none;
    background-color: pink;
    padding: 100px;
}


@media screen and (max-height: 700px){
    .fa-bars, .hamburgerMenu{
        padding: 0;
        background-color: orange;
        margin: 0;
        max-height: 100%;
        display: none;
    }

    header{
        min-height: 1%;
    }
    
}
@media screen and (max-height: 450px){
    header{
        min-height: 15vh;
        padding: auto;
    }
    .logo{
        padding-top: 15px;
    }

}
@media screen and (max-height: 360px){
    .hamburgerMenu{
        padding: 0;
        height: 100%;
        margin: 0;
        transform: translateY(-15%);
    }
    .navbar{
        transform: translateY(-5%);
    }
    .nav-list{
        padding: 15px 0;
    }
}
@media screen and (max-width: 450px){
    .logoLink{
        font-size: 24px;
    }
}
@media screen and (max-width: 410px){
    .logoLink{
        font-size: 20px;
    }
}
@media screen and (max-width: 355px){
    .logoLink{
        font-size: 16px;
    }
    .hamburgerMenu{
        font-size: 16px;
        margin: auto;
    }
}
@media screen and (max-width: 310px){
    .navbar{
        max-width: 100%;
    }
    .hamburgerMenu{
        font-size: 24px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 1000px){
    .logo{
        font-size: 30px;
    }
    .nav-list{
        font-size: 20px;
    }
}
@media screen and (max-width: 780px){
    header{
        display: grid;
        grid-template-areas: 
        'a a b'
        'c c c';
        padding: 0;
    }
    .logo{
        font-size: 26px;
        text-align: left;
        width: 100%;
        grid-area: a;
        padding-left: 25px;
    }
    .nav-list{
        font-size: 20px;
    }
    .navbar{
        display: none;
        grid-area: c;
        margin-top: -10px;
    }
    .hamburgerMenu{
        display: block;
        position: relative;
        padding: 10px;
        flex: 10;
        grid-area: b;
        text-align: right;
        padding-right: 25px;
    }
    .icon{
        text-align: right;
    }
    #btn:checked + .navbar{
        display: flex;
        flex-direction: column;
        background-color: rgba(22, 22, 22, .95);
        border-bottom: 2px solid black;
        box-shadow: 10px 15px 10px rgba(0, 0, 0, .7);
    }
}



/* footer section */


.footerSection{
    min-height: 35vh;
    display: flex;
    background-color: #0E0F15;
    font-family: 'Oswald', sans-serif;
}
.footerHours{
    flex: 1;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}
.footerTable td {
    padding: 5px 30px;
    min-width: 100px;
}
.footerTable .dateDays{
    color: #dddddd;
    text-align: left;
    width: 50%;
}
.footerTable .dateHours{
    color: #aaaaaa;
    text-align: right;
    width: 50%;
}
.hours{
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 3px;
    text-decoration: underline;
    margin-bottom: 10px;
}
.footerTable{
    margin: auto;
    font-size: 18px;
}
.mobileLine{
    display: none;
}
.footerTable2{
    display: none;
}
.footerLogo{
    flex: 1;
    display: grid;
    align-content: center;
    justify-content: center;
}
#footerLogoCard{
    max-height: 240px;
    margin: auto;
}
.footerInfo{
    flex: 1;
    margin: auto;
}
.footerLine{
    width: 10%;
    margin: 10px 0;
}
.footerLocation, .footerPhone, .footerSocialMedia{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}
.locationText, .phoneText, .socialMediaText{
    padding-right: 10px;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    vertical-align: middle;
}
.locationDesc, .phoneDesc{
    color: #eeeeee;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
.footerSocialMedia{
    text-decoration: none;
}
.fa-facebook-square{
    color: #3B5998;
    line-height: 32px;
    vertical-align: middle;
    font-size: 24px;
}
@media screen and (max-width: 1000px){
    .footerInfo{
        padding: 0 20px;
    }
    .footerHours .dateHours{
        width: 100%;
    }
}
@media screen and (max-width: 855px){
    .footerHours, .footerInfo{
        flex: 2;
    }
    #footerLogoCard{
        max-width: 200px;
        margin: auto;
    }
    .footerTable{
        display: none;
    }
    .footerTable2{
        display: block;
        font-size: 18px;
    }

    .footerTable2 td {
        padding: 5px 30px;
    }
    .footerTable2 .dateDays{
        color: #dddddd;
        text-align: left;
        min-width: 150px;

        /* width: 50%; */
    }
    .footerTable2 .dateHours{
        color: #aaaaaa;
        text-align: right;
        padding: 5px 10px;
        min-width: 100px;
        /* width: 50%; */
    }
    .locationDesc, .phoneDesc{
        font-size: 16px;
    }
    .locationText, .phoneText, .socialMediaText{
        font-size: 14px;
    }
}
@media screen and (max-width: 700px){
    .footerLogo{
        display: none;
    }
    .locationDesc, .phoneDesc{
        font-size: 18px;
    }
    .locationText, .phoneText, .socialMediaText{
        font-size: 16px;
    }

}
@media screen and (max-width: 550px){
    .footerSection{
        flex-direction: column;

    }
    .footerHours{
        display: block;
        min-width: 70%;
    }
    .mobileLine{
        display: block;
        width: 10%;
        margin: 10px 0;
    }
    .footerTable2{
        padding: 0 20px;
    }
    .hours, .mobileLine{
        margin: 0 20px;
    }
    .footerTable2 td {
        padding: 0;
        width: 100%;
        text-align: left;
    }
    .hours{
        color: #bbbbbb;
        font-size: 16px;
        padding: 0;
        text-decoration: none;
        letter-spacing: 0px;
        text-align: left;
    }
    .hours::after{
        content: ':';
    }
    .footerTable2 .dateDays{
        padding: 0;
        margin: 0;
    }
}



.copyrightSection{
    height: 7.5vh;
    display: grid;
    background-color: #0A0B11;
}
.losGallosBravosCopyright{
    display: block;
    margin: auto;
    color: rgba(255, 255, 255, .6);
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
}