*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home{
    height: 95vh;
    font-family: 'Lato', sans-serif;
}
.home-overlay{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(00, 00, 00, .8);
    justify-content: center;
    align-items: center;
}
.home-info{
    flex: 2;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-title, .home-description{
    width: 35%;
    text-align: center;
}
.home-title{
    font-size: 38px;
    width: 75%;
    color: #dddddd;
    margin-bottom: 15px;
}
.home-description{
    width: 65%;
    color: #aaaaaa;
    font-size: 24px;
}
.contactUsBtn{
    background-color: #ff0000;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 32px;
    padding: 10px;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 15px;
    border: 1px solid #ffffff;
}
.contactUsBtn:hover{
    background-color: #ff4444;
}
.home-card-section{
    flex: 1;
}
.logoCard{
    margin: auto;
    max-height: 420px;
}
@media screen and (min-height: 1100px){
    .home{
        max-height: 70vh;
    }
}
@media screen and (max-width: 1100px){
    .home-info{
        flex: 2;
    }
    .home-title{
        width: 100%;
    }
    .home-description{
        width: 95%;
    }

    .logoCard{
        max-height: 320px;
    }
}
@media screen and (min-width: 780px){
    .home{
        background: url(images/gallos-gym.jpg) no-repeat center center;
    }
}
@media screen and (max-width: 780px){

    .home-card-section{
        display: none;
    }
    .home{
        background: url(images/logoCard.png) no-repeat center center;
        background-size: cover;
    }
}







.locationHoursPhone{
    background-color: #0E0F15;
    height: 20vh;
    display: flex;
    color: #dddddd;
    font-family: 'Oswald', sans-serif;
    padding: 0 15%;
    text-align: center;
    font-weight: 500;

}
.location, .hours-section, .phoneNumber{
    flex: 1;
}
.location, .phoneNumber{
    line-height: 7.5vh;
    vertical-align: middle;
}
.location{
    width: 20%;
    margin: auto;
    font-weight: 500;
    line-height: 36px;
}
.hours-section{
    margin: auto;
    height: 10vh;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.hours-section table{
    text-align: center;
    margin: auto;
}
.hours-section table td {
    padding: 5px 20px;
    font-size: 24px;
}
.dateDays{
    color: #eeeeee;
}
.dateHours{
    color: #aaaaaa;
}
.phoneNumber{
    margin: auto;
    font-weight: 500;
    line-height: 7.5vh;
    padding-left: 5px;
    min-width: 125px;
}
@media screen and (max-height: 675px){

    .locationHoursPhone{
        height: 40vh;
    }
}
@media screen and (min-height: 1100px){
    
    .locationHoursPhone{
        height: 15vh;
    }
    .phoneNumber{
        transform: translateY(-10%);
    }


}
@media screen and (min-width: 1000px){
    .location{
        padding-right: 20px;
    }
}
@media screen and (max-width: 1255px){
    .location{
        width: 100%;
        position: relative;
    }
    .hours-section table{
        font-size: 16px;

    }
    .hours-section table td{
        padding: 5px 5px;
    }
    .location, .phoneNumber{
        height: 7.5vh;
    }

}
@media screen and (max-width: 1000px){
    .hours-section{
        flex: 2;
    }
    .location, .hours-section table td, .phoneNumber{
        font-size: 20px;
    }
    .location{
        padding-right: 15px;
        line-height: auto;
        vertical-align: top;
        min-width: 200px;
        position: relative;
    }
}
@media screen and (max-width: 780px){
    .locationHoursPhone{
        flex-direction: column;
        min-height: 30vh;
    }
    .hours-section{
        border: none;
    }
    .location, .hours-section{
        border-bottom: 1px solid;
    }
    .location{
        padding: 15px;
        height: 10vh;
        line-height: 30px;
    }
    .phoneNumber{
        border: none;
    }
    .hours-section{
        width: 100%;
    }
}
@media screen and (max-width: 465px){
    .locationHoursPhone{
        min-height: 30vh;
    }
    .location{
        border-bottom: none;
        margin-bottom: 10px;
    }
    .hours-section{
        border-top: 1px solid white;
    }
}





.aboutUs{
    min-height: 40vh;
    font-family: 'Oswald', sans-serif;
    background-color: #E5E5E5;
    text-align: center;
    margin: auto;
}
.aboutUsTitle{
    color: #1d1b1b;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: #302E2E;
    width: 30%;
    margin: auto;
    padding: 75px 0 25px;
}
.aboutUsText{
    color: #2B2B2B;
    font-size: 18px;
    width: 50%;
    margin: auto;
    padding-bottom: 75px;
}

@media screen and (min-height: 1100px){
    .aboutUs{
        min-height: 30vh;
    }
}
@media screen and (max-width: 650px){
    .aboutUsText, .aboutUsTitle{
        width: 70%;
    }
}




.gallerySection{
    min-height: 110vh;
    background-color: #0b0b0e;
    max-width: 100%;
    padding-bottom: 100px;
}
.galleryTitle{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #EEEEEE;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: #8D8D8D;
    padding: 50px 0 50px;
}
.topGallery, .bottomGallery{
    display: flex;
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    justify-content: center;
}
.imageGallery{
    max-height: 400px;
    overflow: hidden;
    object-fit: cover;
    z-index: 5;

}
.img1{
    flex: 2;
}
.img2, .img3, .img4, .img5{
    flex: 1;
}
@media screen and (max-width: 1050px){
    .imageGallery{
        max-height: 300px;
    }
}
@media screen and (min-height: 1100px){
    .gallerySection{
        min-height: 50vh;
    }
}
@media screen and (max-width: 780px){
    .gallerySection{
        min-height: 70vh;
    }
    .imageGallery{
        max-height: 200px;
    }
    .topGallery, .bottomGallery{
        max-width: 80%;
    }
}
@media screen and (max-width: 600px){
    .topGallery, .bottomGallery{
        flex-direction: column;
    }
    .imageGallery{
        object-fit: cover;
        max-height: 300px;
    }
    .img2{
        object-position: 50% 25%;
    }
    .img4{
        object-position: 50% 40%;
    }
}
@media screen and (max-width: 420px){
    .topGallery, .bottomGallery{
        min-width: 100%;
    }
}


.aboutCoach{
    display: flex;
    flex-direction: row;
    padding: 5% 15%;
    background-color: #e5e5e5;
    min-height: 50vh;
}
.coachJimmyImg{
    max-width: 300px;
    flex: 1;
    object-fit: cover;

}
.coachBio{
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    transform: translateY(-35%);
}
.coachJimmyTitle{
    font-size: 42px;
    color: #1b1b1b;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #302E2E;
}
.coachJimmyText{
    font-size: 18px;
    color: #2b2b2b;
    width: 65%;
    margin: auto;
    text-align: center;

}
@media screen and (max-width: 1000px){
    .coachJimmyImg{
        max-height: 300px;
    }
    .coachJimmyText{
        width: 90%;
    }
}
@media screen and (max-width: 780px){
    .coachJimmyText{
        margin-top: 10px;
    }
}
@media screen and (max-width: 650px){
    .coachJimmyImg{
        margin: auto;
        max-height: 250px;
    }
    .aboutCoach{
        flex-direction: column;
    }
    .coachBio{
        margin-top: 50px;
    }
}
@media screen and (max-width: 320px){
    .coachJimmyImg{
        margin-bottom: 25px;
        max-height: 200px;

    }
}

