*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: #161616;
    width: 100%;
    height: 7.5vh;
    display: flex;
    padding: 0 25px;
    position: fixed;
}
.logo, .navbar{
    line-height: 7.5vh;
}
.logo{
    flex: 1;
    color: #dddddd;
    vertical-align: middle;
    font-family: 'Galada', cursive;
    font-size: 36px;
    font-weight: 500;
}
.logoLink{
    color: #dddddd;
    text-decoration: none;
}
.navbar{
    display: flex;
    text-align: center;
    flex: 1;
}
.nav-list{
    flex: 1;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    list-style: none;
}
.nav-link{
    color: #ffffff;
    text-decoration: none;
}
.nav-link:hover{
    text-decoration: underline;
}
.hamburgerMenu{
    display: none;
    text-align: right;
    margin: auto;
    font-size: 32px;
    flex: 2;
}
.hamburgerMenu::before{
    display: none;
    margin: auto;
    text-align: center;
}
#btn{
    display: none;
    background-color: pink;
    padding: 100px;
}
@media screen and (min-width: 780px){
    .home{
        background: url(images/gallos-gym.jpg) no-repeat center center;
    }
}
@media screen and (max-width: 1000px){
    .logo{
        font-size: 30px;
    }
    .nav-list{
        font-size: 20px;
    }
}
@media screen and (max-width: 780px){
    header{
        display: grid;
        /* grid-template-columns: auto auto; */
        grid-template-areas: 
        'a a b'
        'c c c';
        padding: 0;
    }
    .logo{
        font-size: 26px;
        text-align: left;
        width: 100%;
        grid-area: a;
        padding-left: 25px;
    }
    .nav-list{
        font-size: 20px;
    }
    .navbar{
        display: none;
        grid-area: c;
        margin-top: -10px;
    }
    .hamburgerMenu::before, .hamburgerMenu{
        display: block;
        position: relative;
        padding: 10px;
        flex: 10;
        grid-area: b;
        text-align: right;
        padding-right: 25px;
    }
    .icon{
        text-align: right;
    }
    #btn:checked + .navbar{
        display: flex;
        flex-direction: column;
        /* flex: 1; */
        /* margin: auto; */
        background-color: rgba(22, 22, 22, .95);
        border-bottom: 2px solid black;
        box-shadow: 10px 15px 10px rgba(0, 0, 0, .7);
    }
    .home-card-section{
        display: none;
    }
    .home{
        /* background:rgba(0, 0, 0, .7); */
        background: url(images/logoCard.png) no-repeat center center;
        background-size: cover;
    }
}



.home{
    /* background: url(images/gallos-gym.jpg) no-repeat center center; */
    height: 95vh;
    font-family: 'Lato', sans-serif;
}
.home-overlay{
    /* display: block; */
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(00, 00, 00, .8);
    justify-content: center;
    align-items: center;
}
.home-info{
    flex: 2;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transform: translateY(-10%); */
}
.home-title, .home-description{
    width: 35%;
    text-align: center;
}
.home-title{
    font-size: 38px;
    width: 75%;
    color: #dddddd;
    margin-bottom: 15px;
}
.home-description{
    width: 65%;
    color: #aaaaaa;
    font-size: 24px;
}
.contactUsBtn{
    background-color: #ff0000;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 32px;
    padding: 10px;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 15px;
    border: 1px solid #ffffff;
}
.contactUsBtn:hover{
    background-color: #ff4444;
}
.home-card-section{
    flex: 1;
}
.logoCard{
    margin: auto;
    max-height: 420px;
    /* transform: translateY(-15%); */
}
@media screen and (max-width: 1100px){
    .home-info{
        flex: 2;
    }
    .home-title{
        width: 100%;
    }
    .home-description{
        width: 95%;
    }

    .logoCard{
        max-height: 320px;
    }
}
@media screen and (max-width: 780px){

}
@media screen and (max-width: 425px){

}







.locationHoursPhone{
    background-color: #0E0F15;
    height: 20vh;
    display: flex;
    color: #dddddd;
    font-family: 'Oswald', sans-serif;
    padding: 0 15%;
    text-align: center;
    font-weight: 500;

}
.location, .hours-section, .phoneNumber{
    flex: 1;
}
.location, .phoneNumber{
    height: 7.5vh;
}
.location{
    width: 20%;
    margin: auto;
    font-weight: 500;
    border-right: 1px solid white;

}
.hours-section{
    margin: auto;
}
.hours-section table{
    text-align: center;
    margin: auto;
}
.hours-section table td {
    padding: 5px 20px;
    font-size: 24px;
}
.dateDays{
    color: #eeeeee;
}
.dateHours{
    color: #aaaaaa;
}
.phoneNumber{
    margin: auto;
    font-weight: 500;
    border-left: 1px solid white;
    line-height: 7.5vh;

}
@media screen and (max-width: 1250px){
    .location{
        width: 100%;
    }
    .hours-section table{
        font-size: 16px;

    }
    .hours-section table td{
        padding: 5px 5px;
    }
}
@media screen and (max-width: 1000px){
    .hours-section{
        flex: 2;
    }
    .location, .hours-section table td, .phoneNumber{
        font-size: 20px;
    }
    .location{
        padding-right: 15px;
        /* padding: 0 10px; */
    }
}
@media screen and (max-width: 780px){
    .locationHoursPhone{
        flex-direction: column;
        min-height: 25vh;
    }
    .location, .hours-section{
        border: none;
        border-bottom: 1px solid;
    }
    .location{
        padding: 15px;
    }
    .phoneNumber{
        border: none;
    }
    .hours-section{
        width: 100%;
    }
}
@media screen and (max-width: 425px){

}





.aboutUs{
    min-height: 40vh;
    font-family: 'Oswald', sans-serif;
    background-color: #E5E5E5;
    text-align: center;
}
.aboutUsTitle{
    color: #1d1b1b;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: #302E2E;
    width: 30%;
    margin: auto;
    padding: 75px 0 25px;
}
.aboutUsText{
    color: #2B2B2B;
    font-size: 18px;
    width: 30%;
    margin: auto;
}
.gallerySection{
    min-height: 110vh;
    background-color: #0b0b0e;
    max-width: 100%;
}
.galleryTitle{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #EEEEEE;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: #8D8D8D;
    padding: 50px 0 50px;
}
.topGallery, .bottomGallery{
    display: flex;
    max-width: 70%;
    /* max-height: 250px; */
    margin: auto;
    overflow: hidden;
    justify-content: center;
    /* align-items: center; */
    /* max-width: 70%; */
}
.imageGallery{
    max-height: 400px;
    /* opacity: 80%; */
    overflow: hidden;
}
.img1{
    flex: 2;
}
.img2, .img3, .img4, .img5{
    flex: 1;
}
.aboutCoach{
    display: flex;
    flex-direction: row;
    padding: 2.5% 25%;
    background-color: #e5e5e5;
}
.coachJimmyImg{
    /* max-height: 300px; */
    max-width: 300px;
    flex: 1;
}
.coachBio{
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    transform: translateY(-35%);
}
.coachJimmyTitle{
    font-size: 42px;
    color: #1b1b1b;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #302E2E;
}
.coachJimmyText{
    font-size: 18px;
    color: #2b2b2b;
    width: 70%;
    margin: auto;
    text-align: center;

}

.footerSection{
    min-height: 35vh;
    display: flex;
    background-color: #0E0F15;
    font-family: 'Oswald', sans-serif;
}
.footerHours{
    flex: 1;
    margin: auto;
    text-align: center;
}
.footerTable td {
    padding: 5px 30px;
}
.footerTable .dateDays{
    color: #dddddd;
    /* border-right: 1px solid red; */
    text-align: left;
    width: 50%;
}
.footerTable .dateHours{
    color: #aaaaaa;
    /* border-left: 1px solid red; */
    text-align: right;
    width: 50%;
}
.hours{
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 3px;
    text-decoration: underline;
    margin-bottom: 10px;
}
.footerTable{
    margin: auto;
    font-size: 18px;
}
.footerLogo{
    flex: 1;
    display: grid;
    align-content: center;
    justify-content: center;
}
#footerLogoCard{
    max-height: 240px;
    margin: auto;
}
.footerInfo{
    flex: 1;
    margin: auto;
}
.footerLine{
    width: 10%;
    /* transform: translateX(300%); */
    margin: 10px 0;
    /* margin: auto; */
}
.footerLocation, .footerPhone, .footerSocialMedia{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
   /* width: 30%; */
}
.locationText, .phoneText, .socialMediaText{
    /* float: left; */
    padding-right: 10px;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    vertical-align: middle;
}
.locationDesc, .phoneDesc{
    color: #eeeeee;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
.fa-facebook-square{
    color: #3B5998;
    line-height: 32px;
    vertical-align: middle;
    font-size: 24px;
}
.copyrightSection{
    height: 7.5vh;
    display: grid;
    background-color: #0A0B11;
}
.losGallosBravosCopyright{
    display: block;
    margin: auto;
    color: rgba(255, 255, 255, .6);
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
}