*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home{
    height: 95vh;
    font-family: 'Lato', sans-serif;
}
.home-overlay{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(00, 00, 00, .8);
    justify-content: center;
    align-items: center;
}
.home-info{
    flex: 2;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-title, .home-description{
    width: 35%;
    text-align: center;
}
.home-title{
    font-size: 38px;
    width: 75%;
    color: #dddddd;
    margin-bottom: 15px;
}
.home-description{
    width: 65%;
    color: #aaaaaa;
    font-size: 24px;
}
.contactUsBtn{
    background-color: #ff0000;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 32px;
    padding: 10px;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 15px;
    border: 1px solid #ffffff;
}
.contactUsBtn:hover{
    background-color: #ff4444;
}
.home-card-section{
    flex: 1;
}
.logoCard{
    margin: auto;
    max-height: 420px;
}
@media screen and (min-height: 1100px){
    .home{
        max-height: 70vh;
    }
}
@media screen and (max-width: 1100px){
    .home-info{
        flex: 2;
    }
    .home-title{
        width: 100%;
    }
    .home-description{
        width: 95%;
    }

    .logoCard{
        max-height: 320px;
    }
}
@media screen and (min-width: 780px){
    .home{
        background: url(images/gallos-gym.jpg) no-repeat center center;
    }
}
@media screen and (max-width: 780px){

    .home-card-section{
        display: none;
    }
    .home{
        background: url(images/logoCard.png) no-repeat center center;
        background-size: cover;
    }
}







.gymInfoSection{
    background-color: #0E0F15;
    font-family: 'Oswald', sans-serif;
    display: flex;
    text-align: center;
    color: #dddddd;
    font-size: 18px;
    padding: 30px 0;
}
.locationInfo, .hoursInfo > *, .numberInfo{
    font-weight: 500;
}
.locationInfo, .hoursInfo, .numberInfo{
    flex: 1;
    margin: auto;
    padding: 20px 0;
}
.hoursInfo{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px 20px;
    padding: 20px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.hoursInfoDate, .dayHours{
    width: 150px;
}
.hoursInfoDate{
    text-align: left;
    color: #eeeeee;
}
.dayHours{
    text-align: right;
    color: #aaaaaa;
}

@media screen and (min-width: 780px){
    .hoursInfoDate, .dayHours{
        margin: auto;
    }
    .hoursInfo{
        border: none;
        border-right: 2px solid #fff;
        border-left: 2px solid #fff;
        margin: auto;
    }
    .locationInfo, .hoursInfo, .numberInfo{
        padding: 0 10px;
    }
}
@media screen and (max-width: 779px){
    .gymInfoSection{
        flex-direction: column;
        min-height: 25vh;
    }
}
@media screen and (max-width: 319px){
    .hoursInfo{
        grid-template-columns: auto;
    }
    .dayHours, .hoursInfoDate{
        text-align: center;
    }
}





.aboutUs{
    min-height: 40vh;
    font-family: 'Oswald', sans-serif;
    background-color: #E5E5E5;
    text-align: center;
    margin: auto;
}
.aboutUsTitle{
    color: #1d1b1b;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: #302E2E;
    width: 30%;
    margin: auto;
    padding: 75px 0 25px;
}
.aboutUsText{
    color: #2B2B2B;
    font-size: 18px;
    width: 50%;
    margin: auto;
    padding-bottom: 75px;
}

@media screen and (min-height: 1100px){
    .aboutUs{
        min-height: 30vh;
    }
}
@media screen and (max-width: 650px){
    .aboutUsText, .aboutUsTitle{
        width: 70%;
    }
}




.gallerySection{
    min-height: 110vh;
    background-color: #0b0b0e;
    max-width: 100%;
    padding-bottom: 100px;
}
.galleryTitle{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #EEEEEE;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: #8D8D8D;
    padding: 50px 0 50px;
}
.topGallery, .bottomGallery{
    display: flex;
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    justify-content: center;
}
.imageGallery{
    max-height: 400px;
    overflow: hidden;
    object-fit: cover;
    z-index: 5;

}
.img1{
    flex: 2;
}
.img2, .img3, .img4, .img5{
    flex: 1;
}
@media screen and (max-width: 1050px){
    .imageGallery{
        max-height: 300px;
    }
}
@media screen and (min-height: 1100px){
    .gallerySection{
        min-height: 50vh;
    }
}
@media screen and (max-width: 780px){
    .gallerySection{
        min-height: 70vh;
    }
    .imageGallery{
        max-height: 200px;
    }
    .topGallery, .bottomGallery{
        max-width: 80%;
    }
}
@media screen and (max-width: 600px){
    .topGallery, .bottomGallery{
        flex-direction: column;
    }
    .imageGallery{
        object-fit: cover;
        max-height: 300px;
    }
    .img2{
        object-position: 50% 25%;
    }
    .img4{
        object-position: 50% 40%;
    }
}
@media screen and (max-width: 420px){
    .topGallery, .bottomGallery{
        min-width: 100%;
    }
}


.aboutCoach{
    display: flex;
    flex-direction: row;
    padding: 5% 15%;
    background-color: #e5e5e5;
    min-height: 50vh;
}
.coachJimmyImg{
    max-width: 300px;
    flex: 1;
    object-fit: cover;

}
.coachBio{
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    transform: translateY(-35%);
}
.coachJimmyTitle{
    font-size: 42px;
    color: #1b1b1b;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #302E2E;
}
.coachJimmyText{
    font-size: 18px;
    color: #2b2b2b;
    width: 65%;
    margin: auto;
    text-align: center;

}
@media screen and (max-width: 1000px){
    .coachJimmyImg{
        max-height: 300px;
    }
    .coachJimmyText{
        width: 90%;
    }
}
@media screen and (max-width: 780px){
    .coachJimmyText{
        margin-top: 10px;
    }
}
@media screen and (max-width: 650px){
    .coachJimmyImg{
        margin: auto;
        max-height: 250px;
    }
    .aboutCoach{
        flex-direction: column;
    }
    .coachBio{
        margin-top: 50px;
    }
}
@media screen and (max-width: 320px){
    .coachJimmyImg{
        margin-bottom: 25px;
        max-height: 200px;

    }
}
.reviewSection{
    display: flex;
    flex-direction: column;
    background-color: #0b0b0e;
}
.reviewTitle{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #EEEEEE;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: #8D8D8D;
    padding: 50px 0 0;
}
.reviewGridContainer{
    font-family: 'Lato', sans-serif;
    padding: 50px 0;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}
.reviewCard{
    background-color: #d1d1d1;
    padding: 15px 10px;
    border-radius: 10px;
    border: #b1b1b1 3px solid;
    margin: auto;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
}
.reviewStars{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviewStars .fa-star{
    font-size: 24px;
    color: #d39d09;
}
.reviewDateLocation{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0;
}
.reviewDescription{
    font-size: 18px;
    text-align: left;
}
.addReview{
    /* width: 50%; */
    margin: auto;
    text-align: center;
}
.addReviewLink{
    text-align: center;
    color: #eeeeee;
    display: block;
    background-color: #4285f4;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    font-size: 18px;
    border-radius: 5px;
}
@media screen and (max-width: 450px){
    .reviewGridContainer{
        padding: 50px 5px;
    }
}
@media screen and (max-width: 575px){
    .reviewGridContainer{
        padding: 50px 10%;
    }

}
@media screen and (min-width: 576px){
    .reviewGridContainer{
        padding: 50px 10%;
        grid-template-columns: auto auto;
    }
    .reviewCard{
        max-width: 400px;
    }
}
@media screen and (min-width: 850px){
    .reviewGridContainer{
        padding: 50px 5%;
        grid-template-columns: auto auto;
        grid-gap: 20px 10px;
    }
    .reviewCard{
        max-width: 400px;
    }
}
@media screen and (min-width: 1050px){
    .reviewGridContainer{
        padding: 50px 10%;
        grid-template-columns: auto auto auto;
        grid-gap: 20px 10px;
    }
    .reviewCard{
        max-width: 400px;
        height: 150px;
    }
}
.locationTitle{
    font-size: 42px;
    color: #1b1b1b;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #302E2E;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}
.googleMapsSection{
    padding: 50px 0;
    background-color: #e5e5e5;
}
.googleMapsLocation{
    margin: auto;
    display: flex;
    justify-content: center;
}
.googleMapsIframe{
    min-height: 300px;
    width: 95%;
}